*, *::before, *::after {
    font-family: gotham rounded;
    box-sizing: border-box;
}
body {
    padding:0;
    margin:0;
    display: flex;
    width:100vw;
    height: 10vh;
    background-color:rgb(46, 158, 196);
    text-align: center;
    justify-content: center;
    align-items: center; 
  }

  #app{
      width: 800px;
      max-width: 80%;
      background-color: burlywood;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 0 10px 2px;
      margin-top: 30vh;

  }




